@font-face {
  font-family: 'karrik';
  src: url(..//fonts/Karrik-Regular.woff2);
}

@font-face {
  font-family: 'timesnewerroman';
  src: url(..//fonts/TimesNewerRoman-Regular.otf);
}

@font-face {
  font-family: 'bigjohn';
  src: url(..//fonts/BIG\ JOHN.otf);
}

@font-face {
  font-family: 'neuehaas';
  src: url(..//fonts/NeueHaasDisplayBlack.ttf);
}

@font-face {
  font-family: 'poppins';
  src: url(..//fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'thesignature';
  src: url(..//fonts/Thesignature.ttf);
}

body {
  margin: 0%;
  padding: 0%;
  font-family: 'poppins', monospace;
  background-color: #1C1C1C;
  margin: 0rem;
  overflow-x: hidden;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #393939;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 65px;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 200;
}

.navbar span {
  font-size: 20px;
  color: white;
  margin-left: 2%;
}

.navbar .login {
  font-size: 15px;
  color: white;
  margin-left: 2%;
  margin-left: 67%;
}

.navbar img {
  width: 4vw;
  left: 3%;
  bottom: -1%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
}

.navbar .login {
  border: 1px solid whitesmoke;
  background: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.8s;
  border-radius: 7px;
  font-family: 'poppins', monospace;
  color: whitesmoke;
  margin-top: -1%;
}

.login:hover {
  color: grey;
}


.header .banner {
  padding: 0%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  border-bottom: 2px solid grey;
}

.header p {
  font-size: 30px;
  margin-left: 4%;
  width: 50%;
  color: white;
  margin-top: -25%;
}

.sidepanel {
  height: 250px;
  /* Specify a height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 31px;
  cursor: pointer;
  background: none;
  color: white;
  margin-top: 0.2%;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sobre {
  background-color: #1C1C1C;
  height: 295vh;
  margin-right: 215px;
  margin-left: 215px;
  /* border-bottom: 2px solid #393939; */
}

.bkshow-sobre{
  position: cover;
width: 55vw;
height: 75vh;
border: 1px solid grey;
display: flex;
justify-content: center;
align-items: center;
}

.sobre-title {
  color: white;
  font-family: 'thesignature';
  font-size: 155px;
  margin: 0;
  margin-left: 2%;
  margin-top: 20%;
}

.sobre span {
  color: white;
  font-family: 'timesnewerroman';
  font-size: 20px;
  margin-top: 5%;
}

.image-container {
  position: relative;
}

.image-container:hover .text-overlay {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Poppins';
}

/* Estilos específicos para cada card */
.cer-clickable .text-overlay {
  width: 80%;
}

.gigantes-clickable .text-overlay {
  width: 70%;
}

.olem-clickable .text-overlay {
  width: 90%;
}

.icarus-clickable .text-overlay {
  width: 60%;
}

.confira-projetos {
  color: white;
  font-family: 'timesnewerroman';
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: 550;
}

#img-track .image {
  width: 42vmin;
  height: 46vmin;
  object-fit: cover;
  object-position: center;
}

#img-track .image:hover {
  width: 46vmin;
  height: 47vmin;
  object-fit: cover;
  object-position: center;
  background-blend-mode: overlay;
  transition: 1s;
  opacity: 0.5;
}

.sobre #img-track {
  display: flex;
  gap: 4vmin;
  justify-content: center;
}

.img-track p {
  color: white;
  position: relative;
  transform: translate(-50%, -50%);
}

/* CASTELOS & RUÍNAS */

.casteloseruinas {
  background-color: #292525;
  height: 260vh;
}

.casteloseruinas .bk-bloco {
  padding: 0%;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-top: 1px solid white;
  border-bottom: 2px solid #BDC3C7;
}

.title-cer{
  font-size: 95px;
  color: white;
  font-family: 'thesignature';
  margin-top: 5%;
}

.casteloseruinas p {
  font-family: 'poppins';
  font-size: 13px;
  font-style: italic;
  margin-left: 65%;
  width: 30%;
  color: black;
  margin-top: -270px;
  position: relative;
}

.container-cer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.capa-cer {
  height: 45vh;
  width: 20vw;
  border: 1px solid grey;
  bottom: 100px;
}

.imagem-cer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-right: 2%;
}

.texto-cer {
  font-size: 20px;
  font-family: 'timesnewerroman';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-top: 10%;
}

#img-trackcer .image {
  width: 28vmin;
  height: 30vmin;
  object-fit: cover;
  object-position: center;
  border: 1px solid grey;
}

.texto-cer #img-trackcer {
  display: flex;
  gap: 3vmin;
  justify-content: center;
}


/* GIGANTES */
.gigantes {
  background-color: #242a5c;
  height: 348vh;
}


.gigantes .correria-banner {
  padding: 0%;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-top: 1px solid #BDC3C7;
  border-bottom: 2px solid #c09642;
}

.gigantes-title{
  font-size: 145px;
  color: #c09642;
  font-family: 'thesignature';
  margin-top: -20%;
}

.container-gigantes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.capa-gigantes {
  height: 45vh;
  width: 20vw;
  border: 1px solid #c09642;
  bottom: 100px;
}

.imagem-gigantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -35%;
  margin-right: 2%;
}

.texto-gigantes {
  font-size: 20px;
  font-family: 'timesnewerroman';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-top: 10%;
}

.texto-gigantes p {
  font-family: 'thesignature';
  font-size: 120px;
  color: #c09642;
  margin-top: 5%;
  margin-bottom: 0;
}

#img-trackgigantes .image {
  width: 28vmin;
  height: 30vmin;
  object-fit: cover;
  object-position: center;
  border: 3px solid #c09642;
}

.texto-gigantes #img-trackgigantes {
  display: flex;
  gap: 3vmin;
  justify-content: center;
}


/*O LÍDER EM MOVIMENTO*/
.olideremovimento {
  background-color: black;
  height: 260vh;
}

.olideremovimento .olem-banner {
  padding: 0%;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-top: 1px solid #c09642;
  border-bottom: 2px solid white;
}

.title-olem{
  font-size: 105px;
  color: white;
  font-family: 'thesignature';
  margin-top: -20%;
}


.container-olem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.capa-olem {
  height: 45vh;
  width: 20vw;
  border: 1px solid grey;
  bottom: 100px;
}

.imagem-olem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -7%;
  margin-right: 2%;
}

.texto-olem {
  font-size: 20px;
  font-family: 'timesnewerroman';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding-top: 10%;
}

.title-olem-1{
  margin-left: 410px;
  width: 1000px;
  font-family: 'thesignature';
  font-size: 7rem;
  margin-top: -15%;
}

#img-trackolem .image {
  width: 28vmin;
  height: 30vmin;
  object-fit: cover;
  object-position: center;
  border: 1px solid grey;
}

.texto-olem #img-trackolem {
  display: flex;
  gap: 3vmin;
  justify-content: center;
}

/*ICARUS*/
.icarus {
  background-color: #1B4F72;
  height: 470vh;
}

.icarus .icarus-banner {
  padding: 0%;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-top: 1px solid white;
  border-bottom: 2px solid #2874A6;
}

.title-icarus{
  font-size: 145px;
  color: white;
  font-family: 'thesignature';
  margin-top: -20%;
}

.container-icarus {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.capa-icarus {
  height: 45vh;
  width: 20vw;
  border: 1px solid #7FB3D5;
  bottom: 100px;
}

.imagem-icarus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 75%;
  margin-right: 2%;
}

.texto-icarus {
  font-size: 20px;
  font-family: 'timesnewerroman';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-top: 10%;
}

#img-trackicarus .image {
  width: 28vmin;
  height: 30vmin;
  object-fit: cover;
  object-position: center;
  border: 1px solid #7FB3D5;
}

.texto-icarus #img-trackicarus {
  display: flex;
  gap: 3vmin;
  justify-content: center;
}

.texto-icarus p{
  font-family: 'thesignature';
  font-size: 100px;
  margin-top: 10%;
  margin-bottom: 7%;
}

.texto-icarus img{
  width: 40vw;
  height: 50vh;
  border: 1px solid #7FB3D5;
}

.img-exposicao{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 35vh;
  gap: 3vh;
}