@font-face {
  font-family: 'karrik';
  src: url(..//fonts/Karrik-Regular.woff2);
}

@font-face {
  font-family: 'timesnewerroman';
  src: url(..//fonts/TimesNewerRoman-Regular.otf);
}

@font-face {
  font-family: 'bigjohn';
  src: url(..//fonts/BIG\ JOHN.otf);
}

@font-face {
  font-family: 'neuehaas';
  src: url(..//fonts/NeueHaasDisplayBlack.ttf);
}

@font-face {
  font-family: 'poppins';
  src: url(..//fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'thesignature';
  src: url(..//fonts/Thesignature.ttf);
}

body {
  margin: 0%;
  padding: 0%;
  font-family: 'poppins', monospace;
  background-color: black;
  margin: 0rem;
  overflow-x: hidden;
}


.navbar {
  background-color: #393939;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 65px;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 200;
}

.navbar span {
  font-size: 20px;
  color: white;
  margin-left: 2%;
}

.navbar .login {
  font-size: 15px;
  color: white;
  margin-left: 2%;
  margin-left: 67%;
}

.navbar img {
  width: 4vw;
  left: 3%;
  bottom: -1%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
}

.navbar .login {
  border: 1px solid whitesmoke;
  background: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.8s;
  border-radius: 7px;
  font-family: 'poppins', monospace;
  color: whitesmoke;
  margin-top: -1%;
}

.login:hover {
  color: grey;
}


.header .banner {
  padding: 0%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  border-bottom: 2px solid white;
}

.header p {
  font-size: 32px;
  margin-left: 9%;
  width: 35%;
  color: white;
  margin-top: -29%;
}

.sidepanel {
  height: 250px;
  /* Specify a height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 31px;
  cursor: pointer;
  background: none;
  color: white;
  margin-top: 0.2%;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sobre {
  background-color: black;
  height: 55vh;
  /* border-bottom: 2px solid #393939; */
}

.sobre-title {
  color: white;
  font-size: 75px;
  margin: 0;
  margin-left: 2%;
  margin-top: 11%;
}

.sobre span {
  color: white;
  font-family: 'timesnewerroman';
  font-size: 20px;
  margin-top: 5%;
}

.image-container {
  position: relative;
}

.image-container:hover .text-overlay {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Poppins';
}

/* Estilos específicos para cada card */
.cer-clickable .text-overlay {
  width: 80%;
}

.gigantes-clickable .text-overlay {
  width: 70%;
}

.olem-clickable .text-overlay {
  width: 90%;
}

.icarus-clickable .text-overlay {
  width: 60%;
}

.confira-projetos {
  color: white;
  font-family: 'timesnewerroman';
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#img-track .image {
  width: 42vmin;
  height: 46vmin;
  object-fit: cover;
  object-position: center;
}

#img-track .image:hover {
  width: 46vmin;
  height: 47vmin;
  object-fit: cover;
  object-position: center;
  background-blend-mode: overlay;
  transition: 1s;
  opacity: 0.5;
}

.sobre #img-track {
  display: flex;
  gap: 4vmin;
  justify-content: center;
}

.img-track p {
  color: white;
  position: relative;
  transform: translate(-50%, -50%);
}

/* CASTELOS & RUÍNAS */

.casteloseruinas {
  background-color: black;
  height: 170vh;
}

.casteloseruinas .bk-bloco {
  padding: 0%;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-bottom: 2px solid #393939;
}

.casteloseruinas h3 {
  font-family: 'thesignature';
  font-size: 40px;
  margin-left: 2%;
  width: 55%;
  color: black;
  margin-top: -16%;
  position: relative;
}

.casteloseruinas p {
  font-family: 'poppins';
  font-size: 13px;
  font-style: italic;
  margin-left: 70%;
  width: 30%;
  color: black;
  margin-top: -128px;
  position: relative;
}

.capa-cer {
  height: 45vh;
  width: 20vw;
  
}

.texto-cer {
  font-size: 20px;
  font-family: 'timesnewerroman';
  margin-left: 35px;
  margin-right: 700px;
}


/* GIGANTES */
.gigantes {
  background-color: #242a5c;
  height: 100vh;
}

.gigantes .correria-banner {
  padding: 0%;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-bottom: 2px solid #393939;
}


/*O LÍDER EM MOVIMENTO*/
.olideremovimento{
  background-color: grey;
  height: 100vh;
}

.olideremovimento .olem-banner {
  padding: 0%;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-bottom: 2px solid #393939;
}

/*ICARUS*/
.icarus{
  background-color: lightskyblue;
  height: 100vh;
}

.icarus .icarus-banner{
  padding: 0%;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-bottom: 2px solid #393939;
}